@font-face{
    font-family: FF7_font;
    src: url("../media/font/Reactor7.ttf");
}

body{
    background-color: rgb(247, 171, 228);
}

.title{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.styleButton{
    font-family: FF7_font;
    display: inline;
    margin-right: 1000px;
    background-image: linear-gradient(rgb(247, 7, 187), rgb(65, 9, 46));
    color: white;
    font-size: 25px;
    padding: 5px;
    border: rgb(224, 221, 221) ridge 8px;
    border-radius: 10px;
}

iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 565px;
}