@font-face{
  font-family: FF7 textbox;
  src: url("../media/font/Reactor7.ttf");
}

@font-face{
  font-family: FF7 title;
  src: url("../media/font/OPTIEngeEtienne.otf");
}

html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(8, 28, 114);
  background: url('../media/images/map_bg.webp');
}

canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.logo{
  width: 220px;
  margin-top: -20px;
  margin-bottom: -60px;
}

.title{
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: url('../media/images/map_bg.webp');
  padding-left: 15px;
  padding-right: 13px;
  padding-top: 25px;
  padding-bottom: 23px;
}
.title a{
  display: inline;
  margin-left: 47%;
  font-family: FF7 textbox;
  background-image: linear-gradient(rgb(179, 130, 71),rgb(56, 25, 6));
  color: white;
  font-size: 40px;
  padding: 10px;
  border: rgb(224, 221, 221) ridge 8px;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
}

.names{
  text-align: center;
  font-family: FF7 title;
  font-size: 100px;
}

a{
  color: white;
  font-size: 25px;
}
.startText{
  margin-left: 300px;
  margin-right: 300px;
  font-family: FF7 textbox;
  font-size: 40px;
  padding: 20px;
  background-image: linear-gradient(rgb(9, 15, 191), rgb(24, 8, 104));
  border: rgb(224, 221, 221) ridge 8px;
  border-radius: 10px;
  text-align: center;
  color:white;
}
.infoText{
  font-family: FF7 textbox;
  font-size: 40px;
  padding: 20px;
  margin-left: 100px;
  margin-right: 100px;
  background-image: linear-gradient(rgb(9, 15, 191), rgb(24, 8, 104));
  border: rgb(224, 221, 221) ridge 8px;
  border-radius: 10px;
  color: white;
}


audio{
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

button{
  font-family: FF7 textbox;
  display: block;
  margin-left: auto;
  margin-right: 25px;
  background-image: linear-gradient(rgb(9, 15, 191), rgb(24, 8, 104));
  color: white;
  font-size: 35px;
  padding: 10px;
  border: rgb(224, 221, 221) ridge 8px;
  border-radius: 10px;
}

button:hover{
  color: yellow;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}

#midgarInfo{
  padding-top: 20px;
  color: white;
  background: url("../media/images/midgar_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 25px;
}
#midgarInfo img{
  width: 1000px;
}

#chocoboInfo{
  padding-top: 10px;
  background-image: url("../media/images/chocobo_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 25px;
  color: rgb(236, 209, 57);
}
#chocoboIngo img{
  width: 2000px;
}

#goldInfo{
  padding-top: 30px;
  color: rgb(223, 157, 33);
  background-image: url("../media/images/gold_bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 25px;
}
#goldInfo img{
  width: 1500px;
}

.costaLink{
  font-size: 40px;
  color: rgb(97, 208, 255);
}
#costaInfo{
  color: rgb(2, 54, 122);
  padding-top: 30px;
  background-image: url("../media/images/costa_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 25px;
}
#iceInfo{
  color: rgb(49, 57, 71);
  padding-top: 30px;
  background-image: url("../media/images/icy_bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 25px;
}
#wutaiInfo{
  color: rgb(89, 5, 4);
  padding-top: 30px;
  background-image: url("../media/images/wutai_bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 25px;
}